.container {
    margin-top: 32px;
}
h1 {
    margin-bottom: 16px;
}
h4 {
    text-align: center;
}
.rp {
    background-color: #e5a2ff;
}
.add {
    background-color: #a5ffa2;
}
.del {
    background-color: #ffa2b9;
}
.reword {
    background-color: #cacaca;
}

span {
    left:200px;
    top:200px;
    width:50px;
    height:50px;
}
span {
    left:20px;
    top:20px;
    width:50px;
    height:40px;
}
.line{
    position:absolute;
    width:3px;
    background-color:rgb(243 243 243);
    
}
.bolded{
    font-weight: bold;
}
.bolded-line {
    background-color: #383838;
    z-index: 99;
}
.bolded-perm {
    font-weight: bold !important; 
}
.bolded-line-perm {
    background-color: #383838 !important;
    z-index: 99;
}

.an-container button {
    margin-top: 16px;
    float: right;
}

.an-box {
    width: 40%;
    min-width: 500px;
    margin: 0 auto;
    border-width: 3px;
    border-color: #2b2b2b;
}

.an-container {
    padding: 16px;
}

.an-container p {
    margin-bottom: 0px;
}

.question-container span {
    font-style: italic;
    font-weight: bold;
}

.radio-hide {
    display:none;
} 

.question-hide {
    display:none !important;
}

.btn-group-toggle label {
    font-size: 12px;
    padding: 2px 6px 2px 6px;
    height: 27px;
    margin-bottom: 8px;
}

.btn-group {
    margin-right: 8px;
}

.left-a {
    float:left;
    margin-bottom: 25px;
}

.right-a {
    float:right;
    margin-bottom: 25px;
}

.a-container {
    display: flow-root;
}

.question {
    display: flex;
}

#line-a {
    background-color: #000;
}

.hide-highlight {
    background-color: #fff;
}

body, .container {
    margin-bottom: 200px;
}

/* body {
    overflow: hidden;
} */

.a-container h3 {
    font-size: 20px;
}

.cwi-box h4 {
    font-size: 20px;
}

.lead {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

.btn-group-invalid {
    margin-bottom: 24px;
}

.btn-group-invalid:after {
    content: 'Please select an answer';
    font-size: 10px;
    color: #dc3545;
    line-height: 10px;
    position: absolute;
    top: 30px;
    font-weight: 500;
    width: 65px;
    margin-bottom: 40px;
}

/* Overrides Amazon MTurk's Font */
form {
    font-family: var(--bs-font-sans-serif);
}

crowd-input {
    display:none;
}

/* TEMPORARY PLEASE DELETE */
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 80%;
}