.instructions > .card {
    padding: 16px;
    padding-top: 32px;
}

.card-ex {
    margin: 32px !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    max-width: 450px !important;
    align-self: center;
}

.card-err {
    margin: 0 32px !important;
    /* max-width: 800px; */
    /* align-self: center; */
}

.card-err .card-body {
    padding: 16px 16px 0 16px !important;
}

.car-err img {
    width: fit-content;
}

.card-err .card-body {
    padding: 0;
}

.yes-ans {
    background-color: #198754;
    color: white;
}

.no-ans {
    background-color: #dc3545;
    color: white;
}

.container > .card {
    max-width: 1000px;
    margin: auto;
}

.img-cont {
    text-align: center;
}
.img-cont > img {
    width:-webkit-fill-available;
    max-width:650px;
}