/* Highlighting Words to Indiate Yes/No */
.yes-ans {
    background-color: #198754;
    color: white;
}

.no-ans {
    background-color: #dc3545;
    color: white;
}

/* Overall Container */
.instructions>.card {
    padding: 16px;
    padding-top: 32px;
}

.container>.card {
    max-width: 1000px;
    margin: auto;
}

/* Quality Question Examples */
.card-ex {
    margin: 32px !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    max-width: 450px !important;
    align-self: center;
}

/* Error Question Examples */
.card-err {
    margin: 0 32px !important;
}

.card-err .card-body {
    padding: 16px 16px 0 16px !important;
}

.car-err img {
    width: fit-content;
}

.card-err .card-body {
    padding: 0;
}

/* Final Overview Examples */
.card-example {
    margin: 0 32px !important;
}

/* Image container */
.img-cont {
    text-align: center;
}

.img-cont>img {
    width: -webkit-fill-available;
    max-width: 650px;
}